<h1>Score</h1>
<p>
*****************************************************
</p>
<h2>Results</h2>
<p>Your word: <%= @attempt %> </p>
<p>Time Taken to answer: <%= @result[:time] %> </p>
<p>Your score: <%= @result[:score] %> </p>
<p>Message: <%= @result[:message] %></p>
*****************************************************
<h2>Summary</h2>
<p>Total games: <%= @result[:total_games] %></p>
<p>Total score: <%= @result[:total_score] %></p>
<p>Average: <%= @result[:average] %></p>
